.a-w-x .h-Yo:has(+ .h-v .Nsw7Y) {
    display: none !important;
}

.a-w-x .h-v:has(.Nsw7Y) {
    display: none !important;
}

.a-s-tb-sc-Ja-Q.a-s-tb-sc-Ja-Q-Nm.a-s-tb-Kg-Q:has(.h-sb-Ic.h-R-d.a-c-d.a-r-d.iQnZTe.SMHH7) {
    display: none !important;
}

.gb_ze.gb_ye[id="WWNEkf"] {
    display: none !important;
}